.gcloudignore
.git
.gitignore
.github
__pycache__/
*.pyc
/venv
/venv/
/venv/**/*
/.venv
/.venv/
/.venv/**/*
/node_modules
/node_modules/
/node_modules/**/*
**/node_modules/**
/mobile-shared
/mobile-shared/
/mobile-shared/**/*
/scratch
/scratch/
/scratch/**/*
*.apk
*.mp4
*.docx
*.zip
*.tar.gz
*.log
!web/app.apk
